PORT=8000
CORS_ORIGINS=["http://localhost:3000","http://localhost:5173"]
MODEL_DIR=./models
MODEL_FILE=emotion_keras_model_22113034.h5
SCALER_FILE=minmax_scaler_22113034.pkl
PCA_FILE=pca_transform_22113034.pkl
MAX_AUDIO_SIZE_MB=10
MAX_AUDIO_DURATION_SEC=30
DATABASE_URL=sqlite:///./voxemo.db
GROQ_API_KEY=
GROQ_MODEL=llama3-8b-8192